<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        h1 {
            color: lime;
        }
    </style>
    <title>Welcome</title>
</head>
<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><strong>Welcome to Travel Buddy!</strong></h1>
        </div>
    </div>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <div class=login>
    <div class="jumbotron">
        <div class="container">
        <h3>New Member? Register Here To Get Started!</h3>
        <form action="register" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputName">Name:</label>
                <input type="text" name="form_name" class="form-control" id="inputName">
            </div>
            <div class="form-group">
                <label for="inputUserName">Username:</label>
                <input type="text" name="form_username" class="form-control" id="inputUserName">
            </div>
            <div class="form-group">
                <label for="inputPW">Password:</label>
                <input type="password" name="form_pw" class="form-control" id="inputPW">
            </div>
            <div class="form-group">
                <label for="inputCPW">Confirm Password:</label>
                <input type="password" name="form_cpw" class="form-control" id="inputCPW">
            </div>
            <button type="submit" class="btn btn-danger">Register</button>
        </form>
        </div>
    </div>
    
    <div class="jumbotron">
        <div class="container">
        <h3>Members Login Here!</h3>
        <form action="login" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputUsername">Username:</label>
                <input type="text" name="username" class="form-control" id="inputUsername">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password:</label>
                <input type="password" name="pw" class="form-control" id="inputPassword">
            </div>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        </div>
    </div>
    </div>
    
</body>
</html>